*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 16px;
}

li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

li a {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

main{
    margin-top: 70px;
}

h1{
    padding-top: 80px;
    font-size: 75px;
}


.section-1{
    padding-top: 50px;
    padding-right: 50px;
}
.section-1 p{
    padding-bottom: 30px;
    display: inline-block;
}

.container-large p{
    display: inline-block;
}
.navsx{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    background-color: white;

}

.navdx{
    padding-top: 20px;
    padding-bottom: 20px; /*perche qui dovrei mettere 18px??!!!*/
    padding-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    text-align: right;
    background-color: white;
}

.small{
    font-size: 16px;
    border: none;
    padding: 5px 18px;
    
}

.light{
    background-color: white;
    color: black;
}

.hero-container{
    background-color: #B4D0E7;
    min-height: 300px;
}


.container-large{
    max-width: 1367px;
    width: 100%;
    margin: auto;
}




.blue{
    background-color: rgb(49, 97, 255);
    color: white;
}

.col_1-9{
    width: calc(100% / 9);
}

.col_3-9 {
    width: calc(100% / 9 * 3);
    display: inline-block;
}
.col_6-9{
    width: calc(100% / 9 * 6);
    display: inline-block;
}

