*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 77px;
    padding-bottom: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4,
h5{
    font-size: 16px;
}

section{
    margin-top: 150px;
}

/*CLASSI LAYOUT*/


.container-large{
    max-width: 1367px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 100px;
}

.container{
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

[class*="col_"] {
    float: left;
    padding-right: 14px;
    padding-left: 14px;
  }

.col_1-9{
    width: calc(100% / 9);
}

.col_3-9 {
    width: calc(100% / 9 * 3);
}

.col_4-9 {
    width: calc(100% / 9 * 4);
}

.col_5-9 {
    width: calc(100% / 9 * 5);
}
.col_6-9{
    width: calc(100% / 9 * 6);
}

.row{
    margin-left: -14px;
    margin-right: -14px;
    padding-bottom: 50px;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
}




header {
    z-index: 99;
}

body{
    font-size: 16px;
}

li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

li a {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

main{
    margin-top: 70px;
}


hr{
    color: lightgray;
    width: 20%;
}


.hero-container{
    background-color: #B4D0E7;
    min-height: 300px;
}

.hero-1{
    padding-right: 50px;
}


.hero-1 p{
    padding-bottom: 30px;  
}

.hero-1 p:nth-last-child(1){
    padding-top: 10px;

}
.hero-1 img{
  width: 100%;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
}


.headcol{
    text-align: center;
    width: 100%;
    border-top: lightgray 1px solid;
    border-left: lightgray 1px solid;
    border-right: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}


  .navsx{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    background-color: white;
    z-index: 99;

}

.navdx{
    padding-top: 20px;
    padding-bottom: 18px; /*perche qui dovrei mettere 18px??!!!*/
    padding-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    text-align: right;
    background-color: white;
    z-index: 99
}
/*modifiers*/

.section-container .input{
    padding-bottom: 40px;
    padding-top: 50px;
}




.panel{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 200px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.subpanel1{

}

.panel h3{
    padding-top: 30px;
    padding-bottom: 15px;
}
.panel h4{
    padding-bottom: 10px;
}

.sub-panel1 li{
    padding-bottom: 25px;
}

.sub-panel1 button{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.sub-panel1 ul {
    padding-top: 40px;
}
.sub-panel1 p{
    padding-bottom: 30px;
}

.sub-panel1 .tiny{
    padding-bottom: 50px;
}

.sub-panel2{
    padding-top: 50px;
}

.sub-panel2 h4{
    padding-bottom: 30px;
}

.sub-panel2 li{
    padding-bottom: 25px;
}

.blocco3{
    border-left: lightgray 1px solid;
}

.sub-blocco{
    padding-top: 30px;
    border-left: lightgray 1px solid;
}

.sub-blocco2{
    padding-top: 30px;
    border-right: lightgray 1px solid;
}
/*.blocco3{
    border-left: lightgray 1px;
    border-right: lightgray 1px;
}*/

.blocco3{
    margin-top: 50px;
}

.headcol2{
    width: 100%;
    text-align: center;
    border-top: lightgray;
}
.sub-blocco3{

}

.sub-blocco3 .col_3-9 {
}
/*
.sub-blocco3{
    padding-left: 25px;
    padding-right: 25px;
}
.sub-blocco3 .mintiny button{
width: 100%;
}*/

.blocco4{
    margin-left: -14px;
    margin-right: -14px;
    padding-bottom: 50px;
    border: lightgray 1px;
    margin-top: 50px; /*opzionale*/
}

.blocco4 .col_5-9 img{
    width: 100%;
}

.blocco4 .col_4-9{
    padding-top: 50px;
    padding-left: 40px;
}

.blocco4 .col_4-9 h3{
    padding-bottom: 20px;
}

.blocco4 .col_4-9 p{
    padding-bottom: 30px;
    line-height: 30px;
}

.blocco4 .col_4-9 button{
    border: black 1px;
    padding-left: 5px 18px;
}


.blocco5{
    margin-left: -14px;
    margin-right: -14px;
    padding-bottom: 50px;
    border: lightgray 1px;
    margin-top: 50px;
}

.blocco5 h2{
    padding-bottom: 50px;
}

.panel-blocco5{
    padding-right: 10px;
}
.panel-blocco5 img{
    width: 100%;
}

.panel-blocco5 h3{
    padding-bottom: 30px;
}
.panel-blocco5 p{
    padding-bottom: 50px;
}

.panel-blocco5 p span {
    text-decoration: underline;
}
/*CLASSI UTILITIES*/

.small{
    font-size: 16px;
    border: none;
    padding: 5px 18px;
    
}

.light{
    background-color: white;
    color: black;
}

.blue{
    background-color: rgb(49, 97, 255);
    color: white;
}

/*.white{
    background-color: white;
    color: black;
    border: black 1px;

}*/
.tiny{
    font-size: 14px;
    color: gray;
}

.mintiny{
    font-size: 14px;
}
