*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 77px;
    padding-bottom: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4,
h5{
    font-size: 16px;
}

section{
    margin-top: 150px;
}
/*CLASSI LAYOUT*/


.container-large{
    max-width: 1367px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 100px;
}

.container{
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

[class*="col_"] {
    float: left;
    padding-right: 14px;
  }

.col_1-9{
    width: calc(100% / 9);
}

.col_3-9 {
    width: calc(100% / 9 * 3);
}

.col_4-9 {
    width: calc(100% / 9 * 4);
}

.col_5-9 {
    width: calc(100% / 9 * 5);
}
.col_6-9{
    width: calc(100% / 9 * 6);
}

.row{
    margin-left: -14px;
    margin-right: -14px;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
}




header {
    z-index: 99;
}

body{
    font-size: 16px;
}

li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

li a {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

main{
    margin-top: 70px;
}


hr{
    color: lightgray;
    width: 20%;
}


.hero-container{
    background-color: #B4D0E7;
    min-height: 300px;
}

.hero-1{
    padding-right: 50px;
}


.hero-1 p{
    padding-bottom: 30px;  
}

.hero-1 p:nth-last-child(1){
    padding-top: 10px;

}
.hero-1 img{
  width: 100%;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
}


.panel{
    padding: 14px;

}

.column{
    border: 1px solid lightgray;
}


  .navsx{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    background-color: white;
    z-index: 99;

}

.navdx{
    padding-top: 20px;
    padding-bottom: 18px; /*perche qui dovrei mettere 18px??!!!*/
    padding-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    text-align: right;
    background-color: white;
    z-index: 99
}


/*CLASSI UTILITIES*/

.small{
    font-size: 16px;
    border: none;
    padding: 5px 18px;
    
}

.light{
    background-color: white;
    color: black;
}

.blue{
    background-color: rgb(49, 97, 255);
    color: white;
}

